body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color:#111111;
    display: flex;
}

.announcement_form_container {
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding:64px;
}

.announcement_form__button1 {
    margin-top: 10px;
}

.announcements_text_title {
    color: white;
    margin-bottom: 16px;
}

label {
    font-size: 18px;
}

#title_label {
    margin-bottom: 4px;
}

#text_label {
    margin-top: 28px;
    margin-bottom: 4px;
}

.common_form {
    width:100%;
}
