{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amnis | Courses</title>
    <link rel="icon" type="image/x-icon" href="{% static 'main/img/logo.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'main/css/common.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/course.css'%}">
</head>
<body>
    {% include 'main/navigation.html' %}
    {% include 'main/registration_panel.html' %}

    <div class="course_body">
        <p class="site_path">
            <span class="ref">Learn</span> /
            <span class="ref">Windows</span> /
            <span class="ref">Apps</span> /
            <span class="ref">Win32</span>
        </p>
        <h1 class="course_title">{{course.title}}</h1>
        <p class="course_subtitle course_body__course_subtitle">Article   {{course.date}}   {{course.time_to_read}}   <span class="ref">6 contributors<span></span></p>
        {{course.content|safe}}
    </div>
</body>
</html>