{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="{% static 'main/img/logo.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'main/css/common.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/login.css'%}">
</head>
<body>
    {% include 'main/navigation.html' %}
    <div class="aside_container">
        <div class="login_form_container">
            <form class="common_form" method="post">
                {% csrf_token %}
                <h2 class="common_form__common_form_title">Logging in</h2>
                <div class="common_form_name common_form__common_form_name">Username</div>
                <input type="text" name="username" placeholder="Enter login..." class="common_form_input_field">
                <div class="common_form_name common_form__common_form_name">Password</div>
                <input type="password" name="password" placeholder="Enter password..." class="common_form_input_field" >
                <button class="button1 button1_padding cyan-button login_form_button1" type="submit">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>
