{% load static %}
<aside class="navigation_sidebar">
        <link rel="stylesheet" href="{% static 'main/css/navigation.css'%}">
        <img src="{% static 'main/img/logo.png' %}" alt="logo">
        <span class="logo">Amnis</span>
        <ul class="navigation_list navigation_sidebar__navigation_list">
            <a class="navigation_list_ref" href="{% url 'introduce' %}">
                <li class="navigation_list_element"><i class="bi bi-list-task"></i>  Личный кабинет</li>
            </a>
            <hr>
            <a class="navigation_list_ref" href="{% url 'introduce' %}">
                <li class="navigation_list_element"><i class="bi bi-list-task"></i>  Ваши курсы</li>
            </a>
            <a class="navigation_list_ref" href="{% url 'introduce' %}">
                <li class="navigation_list_element"><i class="bi bi-list-task"></i>  Расписание</li>
            </a>
            <a class="navigation_list_ref" href="{% url 'introduce' %}">
                <li class="navigation_list_element"><i class="bi bi-list-task"></i>  Все курсы</li>
            </a>
            <a class="navigation_list_ref" href="{% url 'introduce' %}">
                <li class="navigation_list_element"><i class="bi bi-list-task"></i>  Создание курса (Админ)</li>
            </a>
        </ul>
</aside>