{% load static %}
<link rel="stylesheet" href="{% static 'main/css/registration_panel.css'%}">
<div class="registration_panel">
    {% if user.is_authenticated %}
    <div class="log_in_and_register">
        <div class="username_container">
            <p class="username_title username_container__username_title">Username</p>
            <a class="button1 button1_padding username_container__button1_modifier">{{user}}</a>
        </div>
        <div class="role_container">
            <p class="role_title role_container__role_title">Role</p>
            <a class="button1 button1_padding role_container__button1_modifier">{{role}}</a>
        </div>
        <div class="user_info_vert_line_container">
            <div class="user_info_vert_line"></div>
        </div>

        <div class="logout_button_container">
<!--            <a href="{% url 'logout' %}" class="register reg_buttons">Log out</a>-->
            <a href="{% url 'logout' %}" class="button1 button1_padding cyan-button">Log out</a>
        </div>
    </div>
    {% else %}
    <div class="log_in_and_register">
        <a href="{% url 'login_view' %}"
           class="button1 button1_padding magenta-button log_in_and_register__button1">Log in</a>
        <a href="{% url 'registration' %}"
           class="button1 button1_padding cyan-button log_in_and_register__button1">Register</a>
    </div>
    {% endif %}
</div>